@font-face {
  font-family: 'icomoon';
  src:  url('https://cdn.jsdelivr.net/gh/Corrygan/free-icon-font@main/fonts/icomoon.eot?ce37v');
  src:  url('https://cdn.jsdelivr.net/gh/Corrygan/free-icon-font@main/fonts/icomoon.eot?ce37v#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/Corrygan/free-icon-font@main/fonts/icomoon.ttf?ce37v') format('truetype'),
    url('https://cdn.jsdelivr.net/gh/Corrygan/free-icon-font@main/fonts/icomoon.woff?ce37v') format('woff'),
    url('https://cdn.jsdelivr.net/gh/Corrygan/free-icon-font@main/fonts/icomoon.svg?ce37v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-center:before {
  content: "\e900";
}
.icon-align-justify:before {
  content: "\e901";
}
.icon-align-left:before {
  content: "\e902";
}
.icon-align-right:before {
  content: "\e903";
}
.icon-amazon:before {
  content: "\e904";
}
.icon-amazon-o:before {
  content: "\e905";
}
.icon-amazon-pay:before {
  content: "\e906";
}
.icon-amazon-pay-o:before {
  content: "\e907";
}
.icon-android:before {
  content: "\e908";
}
.icon-android-o:before {
  content: "\e909";
}
.icon-angle-down:before {
  content: "\e90a";
}
.icon-angle-left:before {
  content: "\e90b";
}
.icon-angle-right:before {
  content: "\e90c";
}
.icon-angle-up:before {
  content: "\e90d";
}
.icon-apple:before {
  content: "\e90e";
}
.icon-apple-o:before {
  content: "\e90f";
}
.icon-apple-pay:before {
  content: "\e910";
}
.icon-apple-pay-o:before {
  content: "\e911";
}
.icon-app-store:before {
  content: "\e912";
}
.icon-app-store-o:before {
  content: "\e913";
}
.icon-arrow-down:before {
  content: "\e914";
}
.icon-arrow-left:before {
  content: "\e915";
}
.icon-arrow-right:before {
  content: "\e916";
}
.icon-arrows-left-right:before {
  content: "\e917";
}
.icon-arrows-up-down:before {
  content: "\e918";
}
.icon-arrow-up:before {
  content: "\e919";
}
.icon-award:before {
  content: "\e91a";
}
.icon-bars:before {
  content: "\e91b";
}
.icon-bluetooth:before {
  content: "\e91c";
}
.icon-bluetooth-o:before {
  content: "\e91d";
}
.icon-bold:before {
  content: "\e91e";
}
.icon-camera:before {
  content: "\e91f";
}
.icon-caret-down:before {
  content: "\e920";
}
.icon-caret-left:before {
  content: "\e921";
}
.icon-caret-right:before {
  content: "\e922";
}
.icon-caret-up:before {
  content: "\e923";
}
.icon-cart:before {
  content: "\e924";
}
.icon-chat:before {
  content: "\e925";
}
.icon-check:before {
  content: "\e926";
}
.icon-cloud:before {
  content: "\e927";
}
.icon-code:before {
  content: "\e928";
}
.icon-comment:before {
  content: "\e929";
}
.icon-compress:before {
  content: "\e92a";
}
.icon-copy:before {
  content: "\e92b";
}
.icon-database:before {
  content: "\e92c";
}
.icon-discord:before {
  content: "\e92d";
}
.icon-discord-o:before {
  content: "\e92e";
}
.icon-dots:before {
  content: "\e92f";
}
.icon-download:before {
  content: "\e930";
}
.icon-edit:before {
  content: "\e931";
}
.icon-eraser:before {
  content: "\e932";
}
.icon-expand:before {
  content: "\e933";
}
.icon-eye:before {
  content: "\e934";
}
.icon-eye-slash:before {
  content: "\e935";
}
.icon-facebook:before {
  content: "\e936";
}
.icon-facebook-o:before {
  content: "\e937";
}
.icon-favorite-mark:before {
  content: "\e938";
}
.icon-file:before {
  content: "\e939";
}
.icon-film:before {
  content: "\e93a";
}
.icon-filter:before {
  content: "\e93b";
}
.icon-folder:before {
  content: "\e93c";
}
.icon-font:before {
  content: "\e93d";
}
.icon-font-size:before {
  content: "\e93e";
}
.icon-gear:before {
  content: "\e93f";
}
.icon-gears:before {
  content: "\e940";
}
.icon-github:before {
  content: "\e941";
}
.icon-github-o:before {
  content: "\e942";
}
.icon-globe:before {
  content: "\e943";
}
.icon-google:before {
  content: "\e944";
}
.icon-google-drive:before {
  content: "\e945";
}
.icon-google-drive-o:before {
  content: "\e946";
}
.icon-google-o:before {
  content: "\e947";
}
.icon-google-pay:before {
  content: "\e948";
}
.icon-google-pay-o:before {
  content: "\e949";
}
.icon-google-play:before {
  content: "\e94a";
}
.icon-google-play-o:before {
  content: "\e94b";
}
.icon-heart:before {
  content: "\e94c";
}
.icon-image:before {
  content: "\e94d";
}
.icon-indent:before {
  content: "\e94e";
}
.icon-info:before {
  content: "\e94f";
}
.icon-instagram:before {
  content: "\e950";
}
.icon-instagram-o:before {
  content: "\e951";
}
.icon-italic:before {
  content: "\e952";
}
.icon-key:before {
  content: "\e953";
}
.icon-label:before {
  content: "\e954";
}
.icon-link:before {
  content: "\e955";
}
.icon-linkedin:before {
  content: "\e956";
}
.icon-linkedin-o:before {
  content: "\e957";
}
.icon-list-ol:before {
  content: "\e958";
}
.icon-list-ul:before {
  content: "\e959";
}
.icon-location:before {
  content: "\e95a";
}
.icon-lock:before {
  content: "\e95b";
}
.icon-message:before {
  content: "\e95c";
}
.icon-microphone:before {
  content: "\e95d";
}
.icon-minimize:before {
  content: "\e95e";
}
.icon-mute:before {
  content: "\e95f";
}
.icon-outdent:before {
  content: "\e960";
}
.icon-palette:before {
  content: "\e961";
}
.icon-paperclip:before {
  content: "\e962";
}
.icon-paper-plane:before {
  content: "\e963";
}
.icon-paragraph:before {
  content: "\e964";
}
.icon-pen:before {
  content: "\e965";
}
.icon-pencil:before {
  content: "\e966";
}
.icon-person:before {
  content: "\e967";
}
.icon-person-o:before {
  content: "\e968";
}
.icon-pinterest:before {
  content: "\e969";
}
.icon-pinterest-o:before {
  content: "\e96a";
}
.icon-power-off:before {
  content: "\e96b";
}
.icon-pulse:before {
  content: "\e96c";
}
.icon-question:before {
  content: "\e96d";
}
.icon-quote-left:before {
  content: "\e96e";
}
.icon-quote-right:before {
  content: "\e96f";
}
.icon-reddit:before {
  content: "\e970";
}
.icon-reddit-o:before {
  content: "\e971";
}
.icon-save:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e973";
}
.icon-share:before {
  content: "\e974";
}
.icon-smileface:before {
  content: "\e975";
}
.icon-steam:before {
  content: "\e976";
}
.icon-strikethrough:before {
  content: "\e977";
}
.icon-tag:before {
  content: "\e978";
}
.icon-telegram:before {
  content: "\e979";
}
.icon-telegram-o:before {
  content: "\e97a";
}
.icon-terminal:before {
  content: "\e97b";
}
.icon-tiktok:before {
  content: "\e97c";
}
.icon-tiktok-o:before {
  content: "\e97d";
}
.icon-trash:before {
  content: "\e97e";
}
.icon-twitch:before {
  content: "\e97f";
}
.icon-twitch-o:before {
  content: "\e980";
}
.icon-twitter:before {
  content: "\e981";
}
.icon-twitter-o:before {
  content: "\e982";
}
.icon-twitter-x:before {
  content: "\e983";
}
.icon-twitter-x-:before {
  content: "\e984";
}
.icon-underline:before {
  content: "\e985";
}
.icon-unlink:before {
  content: "\e986";
}
.icon-unlock:before {
  content: "\e987";
}
.icon-upload:before {
  content: "\e988";
}
.icon-visa:before {
  content: "\e989";
}
.icon-visa-o:before {
  content: "\e98a";
}
.icon-vk:before {
  content: "\e98b";
}
.icon-vk-o:before {
  content: "\e98c";
}
.icon-volume:before {
  content: "\e98d";
}
.icon-volume-off:before {
  content: "\e98e";
}
.icon-volume-zero:before {
  content: "\e98f";
}
.icon-wifi:before {
  content: "\e990";
}
.icon-wifi-exclamation:before {
  content: "\e991";
}
.icon-x-mark:before {
  content: "\e992";
}
.icon-youtube:before {
  content: "\e993";
}
.icon-youtube-o:before {
  content: "\e994";
}
